{{- define "content" }}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Manual</h4>
    <form action="manual" method="post" enctype="multipart/form-data">
      {{ .csrfField }}
      <div class="form-group">
        <input type="file" class="form-file-input" id="16" name="16">
        <small class="form-text text-muted">16x16 png file</small>
      </div>
      <div class="form-group">
        <input type="file" class="form-file-input" id="32" name="32">
        <small class="form-text text-muted">32x32 png file ( for Retina )</small>
      </div>
      <div class="form-group">
        <input type="file" class="form-file-input" id="48" name="48">
        <small class="form-text text-muted">48x48 png file ( for Windows desktop )</small>
      </div>
      <div class="form-group">
        <input type="file" class="form-file-input" id="152" name="152">
        <small class="form-text text-muted">152x152 png file ( for iOS )</small>
      </div>
      <div class="form-group">
        <input type="file" class="form-file-input" id="192" name="192">
        <small class="form-text text-muted">192x192 png file ( for Android Chrome )</small>
      </div>
      <button type="submit" class="btn btn-primary">Generate</button>
    </form>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Auto</h4>
    <form action="auto" method="post" enctype="multipart/form-data">
      {{ .csrfField }}
      <div class="form-group">
        <input type="file" class="form-file-input" id="192" name="192">
        <small class="form-text text-muted">192x192 png file</small>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="algorithm" id="Mitchell-Netravali" value="Mitchell-Netravali" checked>
        <label class="form-check-label" for="Mitchell-Netravali">
          Mitchell-Netravali (default)
        </label>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="algorithm" id="Nearest-Neighbor" value="Nearest-Neighbor">
          <label class="form-check-label" for="Nearest-Neighbor">
            Nearest-Neighbor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="algorithm" id="Bilinear" value="Bilinear">
          <label class="form-check-label" for="Bilinear">
            Bilinear
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="algorithm" id="Bicubic" value="Bicubic">
          <label class="form-check-label" for="Bicubic">
            Bicubic
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="algorithm" id="Lanczos2" value="Lanczos2">
          <label class="form-check-label" for="Lanczos2">
            Lanczos2
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="algorithm" id="Lanczos3" value="Lanczos3">
          <label class="form-check-label" for="Lanczos3">
            Lanczos3
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Generate</button>
    </form>
  </div>
</div>

{{- end }}
